* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background: url('../IMGS/Educador-Social.png') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.h1{
    height: 10px;
  }
  .form-box {
    position: relative;
    background-color: rgba(139, 0, 0, 0.9);
    border-radius: 20px;

    padding: 150px 80px;
    width: 1000px;
    display: flex;
    flex-direction: row; /* lado a lado */
    gap: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    align-items: center;
  }
  
  
  
  .form-content {
    margin-top: -140px;
    display: flex;
    flex-direction: column;
    align-items: top;
    flex: 2;
    gap: 20px;
  }
  
 h1 {
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input, select {
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f3f3f3;
    font-size: 14px;
    width: 900px;
  }
  #historico{
    height: 160px;
  }
  
  .row {
    display: flex;
    gap: 16px;
  }
  

  
  textarea {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #f3f3f3;
    font-size: 14px;
    resize: none; 
    line-height: 1.4;
    height: 160px;
    word-break: break-word;
    white-space: pre-wrap; /* quebra de linha correta */
  }
  
  
  button {
    background-color: #4e0101;
    color: white;
    border: none;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background 0.3s ease;

  }
  
  button:hover {
    background-color: #a00000;
  }
  