* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #5b5b5b;
    font-family: Arial, sans-serif;
  }
  
  .top-bar,
  .bottom-bar {
    background-color: #4c0a0a;
    height: 50px;
  }
  
  .container {
    background-color: #b88484;
    padding: 20px;
    min-height: calc(100vh - 100px);
    position: relative;
  }
  
  .search-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .search-bar {
    flex: 1;
    padding: 10px;
    margin-right: 20px;
    background-color: #944e4e;
    color: white;
    border: none;
    border-radius: 8px;
  }
  
  .filters {
    display: flex;
    gap: 10px;
  }
  
  .filter-select {
    padding: 10px;
    background-color: #a14f4f;
    color: white;
    border: none;
    border-radius: 6px;
  }
  
  .card-grid {
    display: flex;
    gap: 27px;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #944e4e;
    height:200px;
    width: 200px;
    border-radius: 10px;
    gap: 8px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card img{
    height: 8vh;
    width: 8vh;
  }
      

  
  .add-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4c0a0a;
    color: white;
    padding: 30px 100px;
    border: none;

    border-radius: 8px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #330707;
  }

  

  
  